# Ficheiros de dependências
# A pasta node_modules contém todas as bibliotecas de terceiros.
# Ela é recriada localmente com 'npm install' ou 'yarn install'.
/node_modules

# Ficheiros de build/produção
# Estas pastas contêm a versão otimizada da sua aplicação para ser publicada.
# São geradas com 'npm run build' ou 'yarn build'.
/build
/dist

# Ficheiros de ambiente
# Estes ficheiros contêm variáveis de ambiente locais, como chaves de API,
# que não devem ser partilhadas no repositório.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ficheiros de teste
/coverage

# Ficheiros de sistema operativo
.DS_Store
Thumbs.db

# Ficheiros do editor
.vscode/
.idea/
